{% ckan_extends %}

{# remove social features from resource view #}
{% block resource_license %}{% endblock %}

{% block pre_primary %}
  {% block resource %}
    <section class="module module-resource">
      <div class="module-content">
        <div class="actions">
          <ul>
            {% if h.check_access('package_update', {'id':pkg.id }) %}
              {% super() %}
            {% endif %}
            {% if res.url %}
              <li>
                {% if res.resource_type in ('listing', 'service') %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}"><i class="icon-eye-open"></i> {{ _('View') }}</a>
                {% elif  res.format.lower() == 'wms' %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}?Service=WMS&Request=Getcapabilities"><i class="icon-key"></i> {{ _('API Endpoint') }}</a>
                {% elif  res.format.lower() == 'wfs' %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}?Service=WFS&Request=Getcapabilities"><i class="icon-key"></i> {{ _('API Endpoint') }}</a>
                {% elif not res.can_be_previewed %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}"><i class="icon-external-link"></i> {{ _('Go to resource') }}</a>
                {% else %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}"><i class="icon-download"></i> {{ _('Download') }}</a>
                {% endif %}
              </li>
            {% endif %}
            {% if 'datastore' in g.plugins %}
              {% super() %}
            {% endif %}
          </ul>
        </div>
        {% block resource_content %}
          {% block resource_read_title %}{{ super() }}{% endblock %}
          {% block resource_read_url %}
            {{ super() }}
          {% endblock %}
          <div class="prose notes" property="rdfs:label">
            {% if res.description %}
              {{ h.render_markdown(res.description) }}
            {% else %}
              <p class="empty">{{ _('There is no description for this resource') }}</p>
            {% endif %}
            {% if not res.description and c.package.notes %}
              <h3>{{ _('From the dataset abstract') }}</h3>
              <blockquote>{{ h.markdown_extract(_(c.package.get('notes'))) }}</blockquote>
              <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
            {% endif %}
        {% endblock %}
        </div>
      </div>
      {% block data_preview %}
        {% super() %}
      {% endblock %}
    </section>
  {% endblock %}
{% endblock %}
