{% ckan_extends %}

{# remove social features from resource view #}
{% block resource_license %}{% endblock %}

{% block pre_primary %}
  {% block resource %}
    <section class="module module-resource">
      <div class="module-content">
        <div class="actions">
          <ul>
            {% if h.check_access('package_update', {'id':pkg.id }) %}
              <li>{% link_for _('Edit'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
            {% endif %}
            {% if res.url %}
              <li>
                {% if res.resource_type in ('listing', 'service') %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}"><i class="icon-eye-open"></i> {{ _('View') }}</a>
                {% elif  res.format.lower() == 'wms' %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}?Service=WMS&Request=Getcapabilities"><i class="icon-key"></i> {{ _('API Endpoint') }}</a>
                {% elif  res.format.lower() == 'wfs' %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}?Service=WFS&Request=Getcapabilities"><i class="icon-key"></i> {{ _('API Endpoint') }}</a>
                {% elif not res.can_be_previewed %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}"><i class="icon-external-link"></i> {{ _('Go to resource') }}</a>
                {% else %}
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}"><i class="icon-download"></i> {{ _('Download') }}</a>
                {% endif %}
              </li>
            {% endif %}
            {% if 'datastore' in g.plugins %}
               <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>  
            {% endif %}
          </ul>
        </div>
        {% block resource_content %}
            {{ super() }}
        {% endblock %}
        </div>
      </div>
      {% block data_preview %}
        {{ super() }}
      {% endblock %}
    </section>
  {% endblock %}
{% endblock %}
