{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("Search for a Dataset") }}{% endblock %}

{% block add_action_content %}
  {% if h.check_access('package_create') %}
    {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block zero_content %}
<div class="row-fluid">
  <div class="span12" id="dataset-search-box">
    <form class="dataset-search clearfix" method="get" data-module="select-switch">
      <span class="control-group search-giant">
        <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search...') }}" />
        <button type="submit" value="search">{{ _('Submit') }}</button>
      </span>
    </form>
  </div>
</div>
<div class="row-fluid">
  <div class="span12" id="search-result-sentence">
    {% if request.params and c.page.item_count != 0 %}
      <h3>
        {% snippet 'snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='dataset' %}
      </h3>
    {% elif request.params and c.page.item_count == 0 %}
      {% trans %}
        <p class="extra">Please try another search.</p>
      {% endtrans %}
    {% endif %}
  </div>
</div>

{% if c.page.item_count != 0 %}
  <section class="module">
    <div class="module-content">
      <div class="results">
        <div class="filter-list">
          {% for field in c.fields_grouped %}
            {% set search_facets_items = c.search_facets.get(field)['items'] %}
            <span class="facet">{{ c.facet_titles.get(field) }}:</span>
            {% for value in c.fields_grouped[field] %}
              <span class="filtered pill">
                {%- if c.translated_fields and c.translated_fields.has_key((field,value)) -%}
                  {{ c.translated_fields[(field,value)] }}
                {%- else -%}
                  {{ h.list_dict_filter(search_facets_items , 'name', 'display_name', value) }}
                {%- endif %}
                <a href="{{ c.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="icon-remove"></i></a>
              </span>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% endblock %}

{% block primary_content %}
  {% if c.page.item_count != 0 %}
    <section class="module">
      <div class="module-content">
        <form id="dataset-search-filter" class="dataset-search clearfix" method="get" data-module="select-switch">
          {{ h.snippet('snippets/sort_by.html', sort=c.sort_by_selected) }}

          {% if c.fields -%}
            <span>
              {{ form.hidden_from_list(fields=c.fields) }}
            </span>
          {%- endif %}

          <div id="dataset-search-ext">{% block dataset_search_ext %}{% endblock %}</div>
        </form>
        
        {% if c.query_error %}
          {% trans %}
            <p><strong>There was an error while searching.</strong> Please try again.</p>
          {% endtrans %}
        {% endif %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
      </div>

      {{ c.page.pager(q=c.q) }}
    </section>
  {% endif %}  
{% endblock %}

{% block secondary_content %}
  {% if c.page.item_count != 0 %}
    {% for facet in c.facet_titles %}
      {% if facet != 'organization' and facet != 'license_id' %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
