{% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}
<li class="row-fluid">
  <div class="span12 org_description">
  {% block title %}
    <h2>
        <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}">
            {{ organization.display_name }}
        </a>
    </h2>
  {% endblock %}
  {% block description %}
    {% if organization.description %}
      <p>{{ organization.description }}</p>
    {% else %}
      <p class="empty">{{ _('This organization has no description') }}</p>
    {% endif %}
  {% endblock %}
    <div class="org_bar">
      {% block datasets %}
        <span class="dataset_count">
          <span class="sprite" id="icon_data"></span>
          <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}">
            {{ ungettext('{num} Dataset', '{num} Datasets', organization.packages).format(num=organization.packages) }}
          </a>
        </span>
      {% endblock %}
      {% set website = h.get_organization_url(organization.id) %}
      {% if website %}
        <span class="org_website">
            <span class="sprite" id="icon_www"></span>
            <a href="{{ website }}" title="Website of {{ organization.display_name }}">{{ website|replace('http://', '') }}</a>
        </span>
      {% endif %} 
    </div>
  </div>
</li>
