<footer class="site-footer container">
  <div class="row-fluid">
    {% block footer_content %}
      <div class="span12">
        <p>{{ _('footer.do_you_have_general_questions_part_one') }} <a href="/{{ request.environ.CKAN_LANG }}/faq" title="{{ _('header.faq_link') }}">{{ _('header.faq_link') }}</a> {{ _('footer.do_you_have_general_questions_part_two') }} <a href="/{{ request.environ.CKAN_LANG }}/contact" title="{{ _('footer.contact_us') }}">{{ _('footer.contact_us') }}</a>.</p>

        <p>{{ _('footer.looking_for_a_single_dataset') }} <a href="/{{ request.environ.CKAN_LANG }}/contact/dataset" title="{{ _('footer.looking_for_a_single_dataset_link') }}">{{ _('footer.looking_for_a_single_dataset_link') }}</a>.</p>

        <p class="legal_requirements"><a href="/{{ request.environ.CKAN_LANG }}/disclaimer" title="{{ _('footer.legal_requirements') }}">{{ _('footer.legal_requirements') }}</p>
      </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-44027439-1']);
    _gaq.push (['_gat._anonymizeIp']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>